.ios, .md {    
     page-intro {    
       ion-slide {
         background-color: #009FE3;
       }
    
       ion-slide img {
         height: 70vh !important;
         width: auto !important;
       }    
     }    
   }